<%-include("partials/header")-%>
<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="TitleItem">Title</label>
    <input class="form-control" type="text" name="TitleItem">
  </div>
  <div class="form-group">
    <label for="ComposeItem">Post</label>
    <textarea class="form-control" name="ComposeItem" rows="5"></textarea>
  </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%-include("partials/footer")-%>
